/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2019, 10:54:50
    Author     : Szymon
*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#bigGrid Line{
    -fx-stroke: #50ff00;
}

#AnchorPane{
    -fx-background-color: #303030;
}

.label{
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-text-fill: #50ff00;
}

.button{
    -fx-text-fill: #50ff00;
    -fx-font-size: 24;
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-background-radius: 10;
    -fx-background-color: #000000;
}

.xbtn{
    -fx-background-color: red;
}

.ybtn{
    -fx-background-color: blue;
}