/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-02-2019, 11:22:32
    Author     : mads_
*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


#lblTitle .text{
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-font-size: 36;
    -fx-fill: #50ff00;
    -fx-stroke: black;
    -fx-stroke-width: 2;
    
}

#lblGameMode .text{
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-font-size: 24;
    -fx-fill: #00ffff;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.button{
    -fx-wrap-text: true;
    -fx-font-size: 20;
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 15;
    -fx-background-color: #50ff00;
    -fx-background-radius: 22;
}

.button:hover{
    -fx-background-color: #9fff72;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#AnchorPane{
    -fx-background-color: #303030;
}